<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p>Every month Hunted Cow are doing a great bake off between the employees that for some reason enjoy baking.</p>
</body>
</html>