<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>
<body>
    <div class="content">
    <h1>ADD CAKES</h1>
    <form class="add-cake" action="/cakes" method="post">
        <label for="baker">Baker:</label>
        <input type="text" name="baker">
        <label for="name">Cake:</label>
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>
    </div>
</body>
</html>