<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>ADD CAKES</h1>
    <form action="/cakes" method="post">
        <label for="baker">Baker:</label>
        <input type="text" name="baker"><br>
        <label for="name">Cake:</label>
        <input type="text" name="name"><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>