<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Great Hunted Cow Bake Off</h1>

    <% 
    if (cakes.length > 0) {
        cakes.forEach((cake) => { %>
            <p><%= cake.name %></p>
        <% });
    } else { %>
        <p>No Cakes</p>
    <% } %>
    <a href="/cakes">Add</a>
</body>
</html>