<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Index</title>
</head>
<body>
    <h1>Great Hunted Cow Bake Off</h1>
    <h2>Click on the Cake below to Vote</h2>
    <div class="content">
    <% if (cakes.length > 0) { %>
        <% cakes.forEach((cake) => { %>
            <a class="cake" href="/vote/<%= cake._id %>"><%= cake.name %></a>
        <% }); %>
    <% } else { %>
        <p>No Cakes</p>
    <% } %>
    <br><br>
    <a class="standard-link" href="/cakes">Add</a>
    </div>
</body>
</html>