<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <% if (!votes || !cakes) return; %>
    <% cakes.forEach((cake) => { %>
        <p><%= cake.name %></p>
    <% }); %>
    <% votes.forEach((vote) => { %>
        
    <% }); %>
</body>
<%

let endResult = [];

let allVotes = [];
let allCakes = [];

votes.forEach((vote, index) => {
    let thisVote = { cakeId : vote.cakeId, userId : vote.userId, taste : vote.taste, look : vote.look, feel : vote.feel };
    allVotes.push(thisVote);
});

cakes.forEach((cake, index) => {
    let thisCake = { cakeId : cake._id, cakeName: cake.name, votes : [] };
    allCakes.push(thisCake);
});


allCakes.forEach((cake, index) => {
    let i = index;
    allVotes.forEach((vote, index) => {
        if (cake.cakeId == vote.cakeId) {
            cake.votes = [...cake.votes, ...[vote]];
        }
    });
});

console.log(endResult);
console.log(allCakes);
console.log(allVotes);

%>
</html>
