<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote | <%= cake.name %></title>
</head>
<body>
    <h1>Vote for <%= cake.name %></h1>
    <div class="details">
    <form action="/vote/<%= cake._id %>" method="post">
        <label for="taste">Taste:</label>
        <select class="select" name="taste" id="taste">
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5" selected>5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br><br>
        <label for="look">Look:</label>
        <select class="select" name="look" id="look">
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5" selected>5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br><br>
        <label for="feel">Feel:</label>
        <select class="select" name="feel" id="feel">
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5" selected>5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br><br>
        <input type="submit" value="Vote">
    </form>
    </div>
</body>
</html>